{% extends "base.html" %}
{% block content%}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    10 Tips for Maintaining the Perfect Shine on Your Luxury Sports Car
                </h2>
                <h3 class="post-subtitle">
                    A comprehensive guide to keep your luxury sports car looking brand new with these simple and effective tips.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on December 24, 2022</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    The Importance of Professional Car Detailing for High-End Vehicles
                </h2>
                <h3 class="post-subtitle">
                    Discover why regular professional detailing is crucial for the longevity and appearance of your high-end vehicle.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on September 18, 2022</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Exterior Detailing: Techniques for a Flawless Finish
                </h2>
                <h3 class="post-subtitle">
                    Get the inside scoop on the best practices and techniques used by professional detailers for a flawless exterior finish.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on August 24, 2022</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Interior Detailing: How to Keep Your Sports Car's Cabin Looking Like New
                </h2>
                <h3 class="post-subtitle">
                    Find out how to keep the interior of your sports car in top condition with these tips for cleaning and maintaining the cabin.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on July 8, 2022</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}